.nav {
  display: flex;
  align-items: center;
  background: #4d380e;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;
}

.logo img {
  width: 120px;
  height: 80px;
}

.logo h3 {
  margin-left: 15px;
  color: white;
  font-family: "Helvetica";
  font-size: 28px;
}

.nav ul li {
  padding: 20px ;
  text-align: center;
}

.nav ul li:hover {
  background-color: #82540f;
}

.nav a {
  font-family: "Helvetica";
  color: white;
  text-decoration: none;
}

.header-img {
  width: 100%;
}

.header-img img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.coffee {
  display: flex;
}

.coffee-text {
  color: #61451b;
  width: 50%;
  background-color: #F5EEC6;
  padding: 20px;
  font-size: 19px;
}

.coffee img {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5EEC6;
  height: auto;
}

.cats {
  display: flex;
}

.cats-text {
  color: #F5EEC6;
  width: 50%;
  background-color: #61451b;
  padding: 20px;
  font-size: 19px;
}

.cats img {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #61451b;
  height: auto;
}

.testimonial {
  display: flex;
  align-items: center;
  background-color: #F5EEC6;
  padding: 30px;
}

.testimonial-text {
  padding-left: 30px;
  color: #82540f;
}

.testimonial-text p {
  font-size: 18px;
}

footer {
  background-color: #4d380e;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Helvetica";
}

footer p {
  margin: 10px;
}